name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'

      - name: Create venv and install dependencies
        run: |
          python -m venv .venv
          echo "${{ github.workspace }}/.venv/bin" >> $GITHUB_PATH
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Keploy Tests
        run: |
          pip install -r requirements.txt
          curl --silent -O -L https://keploy.io/install.sh && source install.sh
          python application/main.py

