name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          echo "PYTHON_BIN=$(which python)" >> $GITHUB_ENV

      - name: Keploy Tests
        run: |
          curl --silent -O -L https://keploy.io/install.sh && source install.sh
          sudo -E keploy test -c "$PYTHON_BIN -m uvicorn application.main:app" --delay 10
