name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'

      - name: Keploy Tests
        run: |
          pip install -r requirements.txt
          curl --silent -O -L https://keploy.io/install.sh && source install.sh
          sudo keploy test -c "python -m uvicorn application.main:app" --delay 10